In [1]:
import pandas as pd

url = "http://www.ipostock.co.kr/view_pg/view_02.asp?code=B202206162&gmenu="
df = pd.read_html(url)
df

[                                                   0
 0  <!--  function fnc_topsch()  {  var f=document...
 1  HOME > 기업정보 > 기업상세정보  바이오노트 377740  [상장] 의료용품 ...
 2  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObj...,
                                                    0
 0  <!--  function fnc_topsch()  {  var f=document...
 1                         기업목록  |  발행시장공시  |  기업등록신청,
                                                    0
 0  <!--  function fnc_topsch()  {  var f=document...,
     0   1   2   3   4   5   6   7   8   9
 0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN,
     0   1
 0 NaN NaN,
     0   1
 0 NaN NaN,
    0   1   2   3   4   5   6   7   8   9   10
 0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN,
                             0   1
 0  기업목록  |  발행시장공시  |  기업등록신청 NaN,
       0  1       2  3       4
 0  기업목록  |  발행시장공시  |  기업등록신청,
     0                                                  1
 0 NaN  HOME > 기업정보 > 기업상세정보  바이오노트 377740  [상장] 의료용품 ...,
                                                    0
 0                               HOME > 기업정보 > 기업상세정보
 1  바이오노트 377740  [상장] 의료용품 및 기타 의약 관련제품 제조업  추천도 ...
 2  function fncNoInsti() { \talert('본 자료는 [기관회원]만...
 3  공모전  자본금  467.8 억원  발행주식수  93,556,048 주  공모후  ...
 4  구 분  보유주식  공모 후  보통주지분율  보호예수기간  보통주  우선주  보호예...
 5  참고사항  *총발행주식수: 103,956,048주 -기발행주식수: 93,556,04...
 6                                        공시자료가 없습니다.,
                                                    0   1   2
 0  바이오노트 377740  [상장] 의료용품 및 기타 의약 관련제품 제조업  추천도 ... NaN NaN,
                                                    0
 0           바이오노트 377740  [상장] 의료용품 및 기타 의약 관련제품 제조업
 1  추천도 : 공모가 : 9,000 원  액면가 \t500 원 \t최종청약경쟁율  14...,
               0                           1
 0  바이오노트 377740  [상장] 의료용품 및 기타 의약 관련제품 제조업,
        0                                                  1
 0  추천도 :  공모가 : 9,000 원  액면가 \t500 원 \t최종청약경쟁율  14.61 :1...,
        0
 0  추천도 :,
                0                1              2              3
 0  공모가 : 9,000 원    공모가 : 9,000 원  공모가 : 9,000 원  공모가 : 9,000 원
 1            NaN              NaN            NaN            NaN
 2            액면가            500 원        최종청약경쟁율       14.61 :1
 3            NaN              NaN            NaN            NaN
 4            주간사         NH투자증권..      상장전일 장외시세              원
 5            NaN              NaN            NaN            NaN
 6            공모일  2022.12.13 ~ 14            상장일     2022.12.22
 7            NaN              NaN            NaN            NaN,
                0
 0  공모가 : 9,000 원,
     0   1
 0 NaN NaN
 1 NaN NaN
 2 NaN NaN,
     0   1   2   3   4   5   6   7   8   9
 0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
 1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN,
     0   1   2
 0 NaN NaN NaN,
      0      1             2
 0  공모전    자본금      467.8 억원
 1  공모전  발행주식수  93,556,048 주,
      0      1              2
 0  공모후    자본금       519.8 억원
 1  공모후  발행주식수  103,956,048 주,
             0             1              2     3             4         5
 0         구 분           구 분           보유주식  보유주식  공모 후  보통주지분율    보호예수기간
 1         구 분           구 분            보통주   우선주  공모 후  보통주지분율    보호예수기간
 2   보호예수 매도금지      [최대주주 등]   68,914,240 주   0 주       66.29 %  상장 후 6개월
 3   보호예수 매도금지        [기타주주]   19,712,848 주   0 주       18.96 %  상장 후 3개월
 4   보호예수 매도금지  [공모시 우리사주조합]    2,600,000 주   0 주        2.50 %   상장 후 1년
 5   보호예수 매도금지    보호예수  물량합계   91,227,088 주   0 주       87.76 %       NaN
 6        유통가능        [기존주주]    2,328,960 주   0 주        2.24 %       NaN
 7        유통가능  [공모 시 기관투자자]    7,150,000 주   0 주        6.88 %       NaN
 8        유통가능  [공모 시 일반투자자]    3,250,000 주   0 주        3.13 %       NaN
 9        유통가능    유통가능  주식합계   12,728,960 주   0 주       12.24 %       NaN
 10  공모후 상장주식수     공모후 상장주식수  103,956,048 주   0 주         100 %       NaN,
       0                                                  1  \
 0  참고사항  *총발행주식수: 103,956,048주 -기발행주식수: 93,556,048주 -신주...

                                                    2  \
 0  *총발행주식수: 103,956,048주 -기발행주식수: 93,556,048주 -신주...

                                                    3
 0  *총발행주식수: 103,956,048주 -기발행주식수: 93,556,048주 -신주...  ,
     0   1   2
 0 NaN NaN NaN,
              0            1
 0          NaN          NaN
 1  공시자료가 없습니다.  공시자료가 없습니다.
 2          NaN          NaN,
    0   1   2   3   4   5   6   7   8   9   10  11  12
 0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN,
     0   1
 0 NaN NaN]

In [2]:
len(df)

29

In [3]:
df[21]

     0      1             2
0  공모전    자본금      467.8 억원
1  공모전  발행주식수  93,556,048 주

In [4]:
df[22]

     0      1              2
0  공모후    자본금       519.8 억원
1  공모후  발행주식수  103,956,048 주

In [5]:
df[23]

            0             1              2     3             4         5
0         구 분           구 분           보유주식  보유주식  공모 후  보통주지분율    보호예수기간
1         구 분           구 분            보통주   우선주  공모 후  보통주지분율    보호예수기간
2   보호예수 매도금지      [최대주주 등]   68,914,240 주   0 주       66.29 %  상장 후 6개월
3   보호예수 매도금지        [기타주주]   19,712,848 주   0 주       18.96 %  상장 후 3개월
4   보호예수 매도금지  [공모시 우리사주조합]    2,600,000 주   0 주        2.50 %   상장 후 1년
5   보호예수 매도금지    보호예수  물량합계   91,227,088 주   0 주       87.76 %       NaN
6        유통가능        [기존주주]    2,328,960 주   0 주        2.24 %       NaN
7        유통가능  [공모 시 기관투자자]    7,150,000 주   0 주        6.88 %       NaN
8        유통가능  [공모 시 일반투자자]    3,250,000 주   0 주        3.13 %       NaN
9        유통가능    유통가능  주식합계   12,728,960 주   0 주       12.24 %       NaN
10  공모후 상장주식수     공모후 상장주식수  103,956,048 주   0 주         100 %       NaN

In [16]:
df[23].iloc[2:6,1:6]

              1             2    3        4         5
2      [최대주주 등]  68,914,240 주  0 주  66.29 %  상장 후 6개월
3        [기타주주]  19,712,848 주  0 주  18.96 %  상장 후 3개월
4  [공모시 우리사주조합]   2,600,000 주  0 주   2.50 %   상장 후 1년
5    보호예수  물량합계  91,227,088 주  0 주  87.76 %       NaN

In [25]:
df_1 = df[23].loc[df[23][0][0] == "보호예수 매도금지", [1,2,3,4,5]]
df_2 = df[23].loc[df[23][0][0] == "유통가능", [1,2,3,4,5]]

KeyError: 'False: boolean label can not be used without a boolean index'

In [79]:
df1 = df[21].iloc[:,1:4]
df1

                  1                 2                 3
0       제 20(당) 반기말        제 19(전) 기말            제 18 기
1   2022년 6월 30일 현재  2021년 12월 31일 현재  2020년 12월 31일 현재
2      799373978558      640708645896      573427894914
3      932134507656      848158627331      280012168867
4     1731508486214     1488867273227      853440063781
5      118245081293      118273329758      183912319615
6       93365008742       98089718846       30831778896
7      211610090035      216363048604      214744098511
8       46778024000       46778024000        2923626500
9       11877437540       11877437540       55731835040
10    1456121306722     1207900322797      580216557971
11       5121627917        5948440286        -176054241
12    1519898396179     1272504224623      638695965270
13     394268351629      622355164435      631504544796
14     276993399439      470089786089      558030969819
15     298287963079      671556498817      528228844808

In [81]:
df_str = df1.iloc[:2,:]
df_str

                 1                 2                 3
0      제 20(당) 반기말        제 19(전) 기말            제 18 기
1  2022년 6월 30일 현재  2021년 12월 31일 현재  2020년 12월 31일 현재

In [82]:

df1 = df1.loc[2:, :].astype('int')
df1

                1              2             3
2    799373978558   640708645896  573427894914
3    932134507656   848158627331  280012168867
4   1731508486214  1488867273227  853440063781
5    118245081293   118273329758  183912319615
6     93365008742    98089718846   30831778896
7    211610090035   216363048604  214744098511
8     46778024000    46778024000    2923626500
9     11877437540    11877437540   55731835040
10  1456121306722  1207900322797  580216557971
11     5121627917     5948440286    -176054241
12  1519898396179  1272504224623  638695965270
13   394268351629   622355164435  631504544796
14   276993399439   470089786089  558030969819
15   298287963079   671556498817  528228844808

In [87]:
processed_df = pd.concat([df_str,df1])
processed_df.T.values

array([['제 20(당) 반기말', '2022년 6월 30일 현재', 799373978558, 932134507656,
        1731508486214, 118245081293, 93365008742, 211610090035,
        46778024000, 11877437540, 1456121306722, 5121627917,
        1519898396179, 394268351629, 276993399439, 298287963079],
       ['제 19(전) 기말', '2021년 12월 31일 현재', 640708645896, 848158627331,
        1488867273227, 118273329758, 98089718846, 216363048604,
        46778024000, 11877437540, 1207900322797, 5948440286,
        1272504224623, 622355164435, 470089786089, 671556498817],
       ['제 18 기', '2020년 12월 31일 현재', 573427894914, 280012168867,
        853440063781, 183912319615, 30831778896, 214744098511,
        2923626500, 55731835040, 580216557971, -176054241, 638695965270,
        631504544796, 558030969819, 528228844808]], dtype=object)

In [78]:
df1.values

array([[ 799373978558,  640708645896,  573427894914],
       [ 932134507656,  848158627331,  280012168867],
       [1731508486214, 1488867273227,  853440063781],
       [ 118245081293,  118273329758,  183912319615],
       [  93365008742,   98089718846,   30831778896],
       [ 211610090035,  216363048604,  214744098511],
       [  46778024000,   46778024000,    2923626500],
       [  11877437540,   11877437540,   55731835040],
       [1456121306722, 1207900322797,  580216557971],
       [   5121627917,    5948440286,    -176054241],
       [1519898396179, 1272504224623,  638695965270],
       [ 394268351629,  622355164435,  631504544796],
       [ 276993399439,  470089786089,  558030969819],
       [ 298287963079,  671556498817,  528228844808]])

In [72]:
df2 = df1.drop(labels=[4,7,12], axis=0)
df2

                  1                 2                 3
0       제 20(당) 반기말        제 19(전) 기말            제 18 기
1   2022년 6월 30일 현재  2021년 12월 31일 현재  2020년 12월 31일 현재
2      799373978558      640708645896      573427894914
3      932134507656      848158627331      280012168867
5      118245081293      118273329758      183912319615
6       93365008742       98089718846       30831778896
8       46778024000       46778024000        2923626500
9       11877437540       11877437540       55731835040
10    1456121306722     1207900322797      580216557971
11       5121627917        5948440286        -176054241
13     394268351629      622355164435      631504544796
14     276993399439      470089786089      558030969819
15     298287963079      671556498817      528228844808

In [74]:
df2

1    object
2    object
3    object
dtype: object

In [71]:
df2.T.values

array([['제 20(당) 반기말', '2022년 6월 30일 현재', '799373978558', '932134507656',
        '118245081293', '93365008742', '46778024000', '11877437540',
        '1456121306722', '5121627917', '394268351629', '276993399439',
        '298287963079'],
       ['제 19(전) 기말', '2021년 12월 31일 현재', '640708645896', '848158627331',
        '118273329758', '98089718846', '46778024000', '11877437540',
        '1207900322797', '5948440286', '622355164435', '470089786089',
        '671556498817'],
       ['제 18 기', '2020년 12월 31일 현재', '573427894914', '280012168867',
        '183912319615', '30831778896', '2923626500', '55731835040',
        '580216557971', '-176054241', '631504544796', '558030969819',
        '528228844808']], dtype=object)